## Data Preprocessing Using NLTK
The training data contains about 8,000 comments with corresponding stars(1 to 5). Assume that we're going to train a model to predict the star by the comment. In this homework, we're going to implement data preprocessing by using NLTK. The steps are shown below.
<br>
<li> Import the packages you need and read the csv file.
<li> Turn each comment into a word bag. Remember the bag only contain verb and adjective, stop words and punctuations are excluded.
<li> Turn the word bag into number using one-hot encoding. Each row represents the sample, and each column represent the word.
<li> Finally, using the train_test_split function in sklearn.model_selection to split the data into training set and testing set. Then put the training set into the model.(This part of code is provided.)

In [1]:
#import the packages

,review_id,business_id,user_id,text,date,stars
0,3223,2055,2533,"Sometimes things happen, and when they do this...",2010/12/30,5
1,9938,4165,6371,I know Kerrie through my networking and we ben...,2011/4/26,5
2,7123,869,4929,Love their pizza!!!\nVery fresh. Their cannoli...,2012/9/28,5
3,3601,1603,2789,Being from NJ I am always on the prowl for my ...,2009/6/7,4
4,3948,2347,1245,We have tried this spot a few times and each v...,2011/2/20,4

<li>Write a function to tokenize  comments, pick up verbs and adjectives only.

In [2]:
def tokenize_document(lis_text):
    '''
    Write sth.
    '''

<li>Write a function to turn the bag of word into numeric numpy array by one-hot encoding method.

In [3]:
def vectorize_mat(token_lis):
    '''
    Write sth.
    '''

Here, we choose Multinomial Naive Bayes Classifier as the model.

In [4]:
from sklearn.naive_bayes import MultinomialNB
from sklearn.model_selection import train_test_split

In [8]:
train_data, test_data, train_lab, test_lab = train_test_split(csr_matrix(one_hot_e1), df.stars
                                                              , train_size = 0.8, random_state = 123)
MNB_model = MultinomialNB(alpha = 0.5)
MNB_model.fit(train_data, train_lab)
MSE = np.std(MNB_model.predict(test_data) - test_lab)
ACC = MNB_model.score(test_data, test_lab)
print(one_hot_e1.shape)
print("Under MNB model, MSE and accuracy are %.3f and %.3f, respectively." % (MSE, ACC) )

(7997, 10166)
Under MNB model, MSE and accuracy are 1.037 and 0.471, respectively.